.card-img-top {
    height: 230px;
    width: auto;
    object-fit: cover;
}

.col-sm-4 a, .col-sm-4 a:hover {

    text-decoration: none;
    color: #222;


}

.card-body {
    padding: 10px 0!important;
}

.card-title {
    font-size: 16px;
}


.home-container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }

.break {
    width: 100%;
  }

.w-80 {
    width: 80%;
}

.w-49 {
    width: 49%;
}

.mt-special {
    margin-top: 100px !important;
}

@media screen and (max-width: 480px){
    .w-80, .w-49 {
        width: 100%;
    }

    .mt-special {
        margin-top: 0;
    }
  }