.card-img-top {
    height: 230px;
    width: auto;
    object-fit: cover;
}

.col-sm-4 a, .col-sm-4 a:hover {

    text-decoration: none;
    color: #222;


}

.card-body {
    padding: 10px 0!important;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

