<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 text-justify">

            [PT] {{ this.ptBio.content }}
            <br />            
            <br />
            [EN] {{ this.enBio.content }}      
            <br />
            <br />
            <br />
            <br />
              
            <span class="align-top py-1">
              <i class="fab fa-vimeo-v mr-2"></i> vascobauerle
            </span>
            <br/>
            <span class="align-middle py-1">
              <i class="fab fa-instagram mr-2"></i> vascobauerle
            </span>
            <br/>
            <span class="align-middle py-1">
              <i class="far fa-envelope mr-2"></i> vascoworkscontact@gmail.com
            </span>

            <br />
            <br />
            <br /> 
          </div>
        </div>
      </div>
      <div class="col-sm-6" >
        <img src="./../../../../assets/img/retrato.jpg" class="img-fluid center" />
      </div>
    </div>
  </div>
